<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Calander</title>
  <link rel="stylesheet" href="../css/app.css">
</head>
<script>
    function getEvents(){
        fetch('/events').then(res=>{
          let events = res.json();
          return events;
        })
        .then((events)=>{
          console.log(events);
          let board = document.getElementById("calendar-dump");
          events.forEach((obj)=>{
            board.innerHTML += "<li>Item " + obj.updated+ "  " + obj.summary + "</li>";
          });
        });
    }  
</script>
<body>
  <div class="form">
    <a class="button" rel="noopener noreferrer" href="/sign-in">Sign In</a>
    <span>You need to Sign In first</span><br><br>
    <button class="button" rel="noopener noreferrer" onclick="getEvents()">Get events</button>
    <hr>
    <form action="http://localhost:8080/events" method="POST">
      <label for="attendee email">Attendee email</label>
      <input type="email" name="to" placeholder="send email to...">
      <label for="event title">Event Title</label>
      <input type="text" name="summary" placeholder="the title of event...">
      <label for="body">Event body</label>
      <input type="text" name="description" placeholder="the message body...">
      <input type="submit" value="Send Event Invite">
    </form>
  </div>

  <div id="calendar-dump">
  </div>

</body>
</html>
